
<div  >
  <ul class="heroes" >
    <li class="hero-card" *ngFor="let hero of heroes">
      <a routerLink="/heroes/{{ hero.id }}">
        <figure>
          <img src="{{ hero.photo }}" alt="{{ hero.name + 'photo' }}">
        </figure>
        <div class="hero-card__text">
          <h6>{{ hero.name }}</h6>
        </div>
      </a>
    </li>
  </ul>
  <div class = 'killer'>
    <h3 class = 'killer__head'>Guess, who is killer</h3>
    <input type="text" [(ngModel)]="heroName.name" class="killer__name"/>
    <button (click)='onSubmit()' class="btn btn-sm btn-outline-primary">Check the result</button>
  </div>
</div>

